body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background-color: #f9f9f9;
}

nav.sidebar {
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    width: 200px;
    background-color: #002147;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
}

nav.sidebar a {
    color: white;
    text-decoration: none;
    margin: 10px 0;
    transition: 0.3s;
}

nav.sidebar a:hover {
    background-color: #004080;
    padding: 5px 10px;
    border-radius: 5px;
}

nav.sidebar a.active {
    background-color: #0074D9;
    padding: 5px 10px;
    border-radius: 5px;
}

.content {
    margin-right: 200px;
    padding: 2rem;
    text-align: justify;
    
}

.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 220px;
    background: orange;
    color: white;
    padding: 10px;
    border-radius: 50%;
    text-decoration: none;
}
footer {
    margin-right: 200px; 
    background-color: #f1f1f1; 
    text-align: center; 
    font-size: 0.9em; 
    color: #555; 
    padding: 1rem 2rem; 
    margin-top: 40px;
}
h1 {
    color: #004f77;
}
h2 {
    color: #004080;
}
