body {
    background-color: rgb(240, 219, 244);
    color:rgb(71, 179, 8);
    font-family: 'Times New Roman', Times, serif;
    margin: 0px;
}
header {
    background-color: rgb(242, 175, 240);
    color: rgb(40, 109, 34);
    padding: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
footer {
    background-color: rgb(242, 175, 240);
    color: rgb(40, 109, 34);
    padding: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    text-align: right;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 2;
}
a {
    color: green;
    text-decoration: none;
    transition: 1s 2s;
}
a:link {
    color: green;
    text-decoration: none;
}
a:visited {
    color: rgb(3, 67, 3);
    text-decoration: line-through;
}
a:hover {
    color: rgb(255, 0, 174);
    text-shadow: 10px 8px 5px;
    transition: 0.3s;
}
a:active {
    color: black;
    opacity: 0.5;
}
div.menu {
    border: 5px solid rgb(71, 179, 8);
    border-radius: 5px;
    width: 240px;
    margin: 0 auto;
}
div.menu:hover {
    background-color: #ffffff30;
    box-shadow: 0 0 15px #61365c30;

}
footer.name:hover {
    transition: 0.5s;
    color: rgb(255, 0, 174);
}
h1.menulab {
    text-align: center;
}
main {
    margin: 10px 20px 40px;
}